
<nav id="nav">
    <ul class="ul">
    <li class="li"><a href="/homepage" class="link">Home</a></li>
    <li class="li"><a href="/cat-page" class="link">About Nachos</a></li>
    <li class="li"><a href="/photo" class="link">Photo gallery</a></li>
    </ul>
</nav>