
    <h1>Nachos'life</h1>
    <div class="about-container">
       <div class="photo">
     
    <img class = "nachosabout" src="/images/nachos.png" alt="nachos">
      </div>

    <div class="infos">
   <h2 class ="h2"> HOW OLD IS NACHOS?</h2>
<p>He was born on October 4, 2016.</p>

<h2 class ="h2"> CAN I MEET NACHOS?</h2>
<p>For the safety of our family and that of Nachos we do not do personal meetings. We will be having select public appearances and these will be announce on our website and via social media.</p>

 <h2 class ="h2"> DOES NACHOS TRAVEL WELL?</h2>
<p>Nachos is the most calm kitty we have ever come across! He travels perfectly fine and is extremely calm when traveling. We have only traveled with him on a few occasions and he usually just sleeps in the soft bed in his pet carrier.

<h2 class ="h2"> WHAT BREED IS NACHOS?</h2>
<p>He is a mixed breed; but looks to have some Persian, Ragdoll, or Snowshoe in his line.</p>

    </div>
    </div>