
    <h1>Welcome Nachos</h1>
 <div class="home-container">
       <div class="photohome">
    <img class = "photohp" src="/images/nachosabout.png" alt="nachos">
       </div>
    <div class="infoshome">

    <p class="persan-caractere">
Le Persan est un chat au tempérament doux et placide. Il aime passer ses journées à somnoler paisiblement, sans se laisser distraire par rien ni personne.

Bien qu'il soit très calme, il peut parfois révéler un caractère fort et aristocratique. S'il est dérangé durant sa sieste précieuse, il vous laissera savoir son mécontentement.

Même s'il peut paraître distant, il aime recevoir de l'affection. En effet, conscient de sa grande beauté, il aime être admiré et complimenté. Le Persan aime s'allonger à côté de son maître, dormir dans son lit et même s'asseoir sur ses genoux quand le coeur lui en dit. Très attaché à son maître, cette race a tendance à se méfier des étrangers. Il se montre timide envers eux et peut se cacher dans un coin pendant un long moment.

S'il est paresseux la plupart du temps, le chat Persan peut parfois démontrer une grande énergie. Ayant envie de se dépenser de temps en temps, on peut le surprendre en train de bondir partout et de jouer comme un chaton. Puisqu'elle a été grandement affinée et transformée, la race Persan ne possède plus les instincts sauvages typiques des félins. 



    </p>

 </div>
    </div>