
    <h1>Welcome to the photo gallery</h1>
        <img class = "arrow" src="/images/giphy.gif" alt="arrow">

<div class="photogallery">
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/962dd17212a357d48d3e2630f4f61a7c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

</div>